stages:
  - lint
  - deploy
  - test

# Checks the code standard using pylint
# TODO: Uncomment section bellow and correct python files so pipeline succedes
#python_lint:
#  image: python:3.9.7
#  stage: lint
#  script:
#    - pip install pylint
#    - cd backend
#    - pylint *.py --disable=imports

# Checks the code standard using eslint for React js
#reactjs_lint:
#  image: node:17.0.1
#  stage: lint
#  script:
#    - cd app/
#    - npm install eslint-plugin-react@7.26.1 --save-dev
#    - npx eslint src/**/*.js src/*.js
    
# Deploy to heroku
deploy:
  image: ruby:3.0.2
  stage: deploy
  script:
    - cd app
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
    - dpl --provider=heroku --app=development-c4 --api-key=$HEROKU_API_KEY
  only:
    - development

# Web testing with Selenium with Chrome
web_testing:
  image: ubuntu:latest
  stage: test
  script:
    - apt-get update
    - apt-get install -y wget
    - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb 
    - apt-get install -y fonts-liberation 
    - apt-get install -y libasound2 
    - apt-get install -y libatk-bridge2.0-0 
    - apt-get install -y libatk1.0-0 
    - apt-get install -y libatspi2.0-0 
    - apt-get install -y libcairo2 
    - apt-get install -y libcups2 
    - apt-get install -y libcurl3-gnutls 
    - apt-get install -y libcurl3-nss 
    - apt-get install -y libcurl4 
    - apt-get install -y libdbus-1-3 
    - apt-get install -y libdrm2 
    - apt-get install -y libexpat1 
    - apt-get install -y libgbm1 
    - apt-get install -y libglib2.0-0 
    - apt-get install -y libgtk-3-0 
    - apt-get install -y libpango-1.0-0 
    - apt-get install -y libxcomposite1 
    - apt-get install -y libxdamage1 
    - apt-get install -y libxfixes3 
    - apt-get install -y libxkbcommon0 
    - apt-get install -y libxrandr2 
    - apt-get install -y libxshmfence1 
    - apt-get install -y xdg-utils
    - dpkg -i google-chrome*.deb 
    - rm google-chrome*.deb
    - whereis google-chrome
    - apt-get install -y curl
    - curl -sL https://deb.nodesource.com/setup_14.x | bash -
    - cat /etc/apt/sources.list.d/nodesource.list
    - apt-get install -y nodejs
    - cd app/testing/regression_testing/drivers
    - chmod +x chromedriver
    - cd ../..
    - npm install
    - npm test
