/**
* PatientNavList.css
*
* Contains all the css applied to the PatientNavList.js component.
*
* Philip Nylén - DRAFT
*/

#patient-inlagd-group {
  width: 264px;
  height: 40px;
  padding: 0px;
  background-color: #ffffff;
  border: rgba(211, 211, 211, 0.788) solid 1px;
  
}

#rectangle {
  width: 45px;
  height: 40px;
  box-sizing: border-box;
}

#shape {
  width: 30px;
  height: 32px;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}