/**
* PatientNavList.css
*
* Contains all the css applied to the PatientNavList.js component.
*
* Philip Nylén - DRAFT
*/

#patient-inlagd-group {
  width: 100%;
  height: 40px;
  padding: 0px;
  background-color: #ffffff;
  border: rgba(211, 211, 211, 0.788) solid 1px;
  
}

#event-text {
  text-align: start;
}

#dot-div {
  width: 20px;
  position: relative;
}

#dot {
  background-color: red;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#rectangle {
  width: 45px;
  height: 40px;
  box-sizing: border-box;
}

#shape {
  width: 30px;
  height: 32px;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}

#popup-div {
  padding: 10px;
  border: solid;
  background-color: white;
}