

div#overviewArea {
    height: 37pt;
    width: 100%;
    background-color: #2c58a6;
    display: flex;
}

h1#overviewText {
    position: absolute;
    top: 10%;
    left: 45%;  
    text-align: center;
    color: white;
}
