/* Created by Gustav and John */

div#overviewArea {
    height: 47px;
    width: 100%;
    background-color: #2c58a6;
    display: flex;
}

h1#overviewText {
    margin: auto;
    color: white;
    font-family: "Arial Normal", "Arial", sans-serif;
    font-weight: bolder;
}
