/**
* css for vital values component
* Isak Berntsson & Linus Bäckbro Kuusisto
* issue 31
*/

#timeHeader {
    margin: 0;
    padding: 0;
}

#typeHeader {
    display: inline-block;
    vertical-align: middle;
}


#detailedInfoID {
    display: flex;
    flex-direction: row wrap;
    height: 70px;
    align-items: center;
    font-size: 18px;
}

#detailedValue {
    margin-left: 5%;
    width: 75%;
}

