/**
* PatientNavList.css
*
* Contains all the css applied to the PatientNavList.js component.
*
* Philip Nylén - DRAFT
*/

ul {
    padding: 0%;
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}

ul li {
    width: 80%;
    height: 40pt;
    border-radius: 20px;
    display: flex;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.374);
    background-color: rgba(110, 110, 110, 0.05);
}

div#linkList{
    width: 92%;
    height: stretch;
    display: inline-flexbox;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
}

h3.long {
    width: 24%;
    display: inline-flex;
    margin: auto;
    height: 100%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 2%;
}

h3.medium {
    position: relative;
    width: 12%;
    display: inline-flex;
    margin: auto;
    height: 100%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px 0px 0px 20px;
    vertical-align: middle;
    padding-top: 15px; 
    justify-content: center;
}
h3.short {
    width: 8%;
    display: inline-flex;
    margin: auto;
    height: 100%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 15px;
    justify-content: center;
}

a.nav-link {
    margin: auto;
}

div.divideContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.teams {
    width: fit-content;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-family: "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
}

.teams:hover {
    color: rgba(50, 50, 50, 0.9);
}

.spacer {
    color: white;
}

#exclamation{
    margin-top: 1%;
    margin-right: 5%;
}

.trends {
    filter: drop-shadow(2px 4px 4px rgba(50, 50, 50, 0.5));
}

