/**
* Login.css
*
* Contains all the css applied to the Login.js page/component.
*
* Erik Jareman - DRAFT
*
* Documentation not complete.
*/

.page-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(236, 236, 236);
}
