/**
* Timeline.css
*
* Contains all the css applied to the TimelineComponent.js component.
*
* Erik Jareman - DRAFT
*/

.timestamp-row {
    padding-bottom: 0 !important;
    text-align: center !important;
}

.line-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 12px;
}

.timeline-adjust-left {
  border-right: 2px solid black;
  padding-top: 0 !important;
}

.timeline-adjust-center {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  padding-top: 0 !important;
}

.no-padding {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.center-all {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.event-text-adjust {
    line-height: 1;
    font-size: 0.8rem !important;
}

.icon-img {
    padding-top: 0.7em;
    padding-bottom: 0.1em;
}

.event-row {
    padding-top: 0 !important;
    margin-left: 14px;
}